
@{
    ViewBag.Title = "Ideation App";
}
<h2>@ViewBag.Title</h2>
<h3>
    Our Story
</h3>
<p>
    Everything starts with a question and the story will be written during a journey to find the answer. We are here to find an answer to increase efficiency in idea generation period.
</p>
<h3>
    Our Vision
</h3>
<p>
    We want to provide a platform for teams from different disciplines without distinction and provide a comfortable environment for creating ideas.
</p>
<h3>
    Technology
</h3>
<p>
    We feel responsible to make our applications easy to use to everyone. Thus, we are using the newest technologies to increase usability and accessibility.
</p>
<p>Sign up to use Ideation</p>

<input type="button" value="Sign Up" class="btn btn-default" onclick="location.href='/Account/Signup'" />
