

@model IEnumerable<Ideation.Models.Meeting>

@{
    ViewBag.Title = "Home Page";
}

<h2>Join</h2>

<h4>Meeting</h4>

<div class="row center-block">
    <div class="col-lg-6 center-block text-center">

        @foreach (var item in Model)
        {
            <a href="/Meetings/Meeting/@item.Id">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.DisplayFor(modelItem => item.Name)</h3>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(modelItem => item.Status)
                    </div>
                </div>
            </a>

        }
    </div>

    @*<div class="col-md-6">
            <button class="btn btn-primary" type="button" onclick="location.href='/Meetings/Create'">
                Create a Meeting
            </button>
        </div>*@

</div>


<div class="row">

</div>

<div>


</div>


